<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="button">
        <button id="03-25-2023/05:00:00">03-25-2023/05:00:00</button>
        <button id="03-26-2023/04:00:00">03-26-2023/04:00:00</button>
        <button id="03-28-2023/08:00:00">03-28-2023/08:00:00</button>
        <button id="03-25-2023/04:00:00">TOP10_03-25-2023/04:00:00</button>
    </div>

    <div class="json-box"></div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
