/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */


/* 
 * Optional: Makes the sample page fill the window. 
 */
html{
  height: 100vh;
  margin: 0;
  padding: 0;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  height: 90vh;
  width: 100vw;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.slider {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 74.7vw;
}