/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */


/* 
 * Optional: Makes the sample page fill the window. 
 */
html{
  height: 100vh;
  margin: 0;
  padding: 0;
}

.base{
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0));
  align-items: center;
  width: 100vw;
}

.background-video { 
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}

.content {
  padding: 10px;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  height: 90vh;
  width: 100vw;
  overflow: auto;
}

.left {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.8);
}

.right {
  width: 75%;
}

.slider {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 74.7vw;
}

.timelineText {
  color: rgb(0, 0, 0);
}

td {
  text-align: center;
  vertical-align: middle;
}

.ranking_table {
  padding-left: 10px;
}

.timelineText {
  background-color: rgba(255, 255, 255, 0.5);
}